In [10]:
import pandas as pd
import csv

In [25]:
tripdata_201801_df = pd.read_csv("Data/201801_citibike_tripdata.csv")
tripdata_201802_df = pd.read_csv("Data/201802_citibike_tripdata.csv")
tripdata_201803_df = pd.read_csv("Data/201803_citibike_tripdata.csv")

In [26]:
citibike_tripdata_q1_2018 = pd.concat([tripdata_201801_df, tripdata_201802_df, tripdata_201803_df],axis=0)

In [27]:
citibike_tripdata_q1_2018.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
name_localizedValue0       False
usertype                   False
birth year                  True
gender                     False
dtype: bool

In [28]:
citibike_tripdata_q1_2018_clean = citibike_tripdata_2018.dropna(axis=0).reset_index(drop=True)
citibike_tripdata_q1_2018_clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,132,2018-01-01 00:01:46,2018-01-01 00:03:58,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29590,Join Citi Bike for $14.95/month,Subscriber,1964.0,1
1,560,2018-01-01 01:27:17,2018-01-01 01:36:38,3276,Marin Light Rail,40.714584,-74.042817,3269,Brunswick & 6th,40.726012,-74.050389,29613,Annual Membership,Subscriber,1989.0,2
2,294,2018-01-01 01:29:03,2018-01-01 01:33:58,3195,Sip Ave,40.730743,-74.063784,3225,Baldwin at Montgomery,40.723659,-74.064194,31940,Annual Membership - Save 15%,Subscriber,1994.0,1
3,197,2018-01-01 01:59:32,2018-01-01 02:02:49,3211,Newark Ave,40.721525,-74.046305,3278,Monmouth and 6th,40.725685,-74.048790,31949,Annual Membership,Subscriber,1964.0,1
4,932,2018-01-01 02:06:18,2018-01-01 02:21:50,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Annual Membership,Subscriber,1992.0,1

In [29]:
citibike_tripdata_q1_2018_clean['birth year'] = citibike_tripdata_q1_2018_clean['birth year'].astype(int)

In [32]:
citibike_tripdata_q1_2018_clean.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
name_localizedValue0        object
usertype                    object
birth year                   int32
gender                       int64
dtype: object

In [33]:
citibike_tripdata_q1_2018_clean.to_csv("Data/Citibike Tripdata Q1 2018.csv", index=False)